.gender-img img {
    height: 170px;
    width: 351px;
    margin-top: 15px;
}
.single-league {
    display: flex;
    justify-content: space-evenly;
    margin-top: 24px;
    max-width: 87%;
    margin-left: 7%;
    background-color: blue;
    border-radius: 11px;
}
.details{
    width: 87%;
    display: grid;
    text-align: justify;
    margin-left: 78px;
    margin-top: 20px;
}
.parent-div{
    background-color: whitesmoke;
    width: 1046px;
    margin-top: 0px;
    margin-left: 340px;
    padding-top: 1px;
}
.footer-image{
    height: 68px;
    width: 79px;
    margin-left: 24px;
}
.footer{
    display: block;
    margin-left: 350px;
    margin-right: auto;
    width: 63%;
    margin-top: 55px;
}